<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Vježbe na treningu</title>
    <style>
        nav {
            background-color: #515052;
            overflow: hidden;
        }

        nav a {
            float: left;
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        nav a:hover {
            background-color: #ddd;
            color: black;
        }
    </style>
</head>
<body>
<nav>
    <a href="#treninzi"  onclick="redirectToTrainings()">Treninzi</a>
    <a href="#vjezbe-na-treningu"  style="background-color: #6BA292; color: black;">Vjezbe na treningu</a>
    <a href="#vjezbe" onclick="redirectToExercises()">Vjezbe</a>
    <a href="#korisnik" onclick="redirectToUsers()">Korisnik</a>
</nav>

<h1>Vježbe na treningu</h1>

<script>
    function redirectToTrainings() {
        var currentHost = window.location.host;
        window.location.href = "http://" + currentHost + "/training/";
    }

    function redirectToUsers() {
        var currentHost = window.location.host;
        window.location.href = "http://" + currentHost + "/user/";
    }

    function redirectToExercises() {
        var currentHost = window.location.host;
        window.location.href = "http://" + currentHost + "/exercise/";
    }

</script>
</body>
</html>
